<header class="site-header">

  <div class="container txt-center">

    <nav class="navbar">
      <ul>
        <li><a href="{{ "/" | prepend: site.baseurl }}">home</a></li>
        <li class="divider">&bull;</li>
        <li><a href="{{ "/about" | prepend: site.baseurl }}">about</a></li>
        <li class="divider">&bull;</li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}" target="_blank"><i class="icon icon-feed"></i> feed</a></li>
      </ul>
    </nav>

    <a href="{{ "/" | prepend: site.baseurl }}" class="author-thumb">
      <img src="{{ "/images/author.png" | prepend: site.baseurl }}" alt="Author thumbnail" class="dot">
    </a>
    <h1>Hi, I'm Kevin <small>and I write code :)</small></h1>

    <nav class="navbar">
      <ul>
        {% for category in site.categories %}
          {% capture category_url %}/{{ category | first | slugify }}/index.html{% endcapture %}
          <li><a href="{{ category_url | prepend: site.baseurl }}">{{ category | first }}</a></li>
          {% if forloop.last == false %}
            <li class="divider">&bull;</li>
          {% endif %}
        {% endfor %}
      </ul>
    </nav>

    <hr class="hr">

  </div>
</header>
